.profile {
    background-color: rgb(211, 229, 247);
    border-radius: 10px;
    margin: 2px;
    position: sticky;
    top: 0;
}

.profile img {
    height: 70px;
    width: 70px;
    border-radius: 40px;

}

.user {
    display: flex;

}

.about {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 5px;
}

.break-time button {
    border: none;
}




.workout-details div {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;

}

.w-time {
    background-color: aliceblue;
}

.b-time {
    margin-top: 10px;
    background-color: aliceblue;
}