.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;

    background-color: aliceblue;
}


.workout-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.profile-container {
    background-color: white;
}

/* @media screen and(max-width:1600px) {
    .workout-container {
        grid-template-columns: repeat(2, 1fr);
    }
} */